<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Compra_y_Gana_v1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Compra_y_Gana_v1._0.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PercentagePoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PointValueCash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowCashRequest" serializeAs="String">
                <value>False</value>
            </setting>
        </Compra_y_Gana_v1._0.Properties.Settings>
    </userSettings>
</configuration>